#KTM img{
    transform:scale(1);
    filter:blur(3px)
    transition: 0.3s ease-in-out;
}

#KTM :hover{
    margin-left: 30px;
}


.loader{
    margin: 100px;
}

.loader img{
    display: inline-block;
    width: 0;
    height: 0;
    border-radius: 50%;
    margin-right: 8px;
    animation: bounce 8s infinite alternate;
}

@keyframes bounce {
    to{
        width: 150px;
        height: 150px;
        transform: translate3d(0,-50px.0);
    }
}